<?xml version="1.0" encoding="UTF-8"?><Configuration name="Log4j1">
  <Appenders>
    <Console name="stdout" target="SYSTEM_OUT">
      <PatternLayout pattern="%d [%t] %-5p %properties{file} %c{1} - %m%n"/>
    </Console>
    <Console name="yourApp" target="SYSTEM_OUT">
      <PatternLayout pattern="%d [%t] %-5p %properties{file} %c{1} %m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="DEBUG">
      <AppenderRef ref="stdout"/>
    </Root>
    <Logger name="your.app" level="*"/>
    <Logger name="yourApp" level="*"/>
  </Loggers>
</Configuration>
