<?xml version="1.0" encoding="UTF-8"?><Configuration name="Log4j1">
  <Appenders>
    <Console name="stdout" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{ISO8601} %-5p [%t] %c{2} (%F:%M(%L)) - %m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="stdout"/>
    </Root>
  </Loggers>
</Configuration>
