<?xml version="1.0" encoding="UTF-8"?><Configuration name="Log4j1">
  <Appenders>
    <Console name="stdout" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{ISO8601} [%t] %-5p %c{2} (%F:%M(%L)) - %m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="stdout"/>
    </Root>
    <Logger name="org.apache.commons.configuration2.AbstractConfiguration" level="ERROR"/>
    <Logger name="org.apache.hadoop.tools.mapred" level="DEBUG"/>
    <Logger name="org.apache.commons.beanutils.FluentPropertyBeanIntrospector" level="ERROR"/>
    <Logger name="org.apache.hadoop.conf.Configuration.deprecation" level="WARN"/>
    <Logger name="org.apache.hadoop.mapreduce.JobResourceUploader" level="ERROR"/>
    <Logger name="org.apache.hadoop.metrics2" level="ERROR"/>
    <Logger name="org.apache.hadoop.util.NativeCodeLoader" level="ERROR"/>
    <Logger name="org.apache.hadoop.yarn.util.ProcfsBasedProcessTree" level="ERROR"/>
  </Loggers>
</Configuration>
